@model Shared.ProfileCreateModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Profile</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.WorkExperiences, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.WorkExperiences, 4, 40, htmlAttributes: new { style = "width: 40%; max-width: 40%;" })
            @Html.ValidationMessageFor(model => model.WorkExperiences, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AcademicExperiences, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.AcademicExperiences, 4, 40, htmlAttributes: new { style = "width: 40%; max-width: 40%;" })
            @Html.ValidationMessageFor(model => model.AcademicExperiences, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Skills, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Skills, 4, 40, htmlAttributes: new { style = "width: 40%; max-width: 40%;" })
            @Html.ValidationMessageFor(model => model.Skills, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class = "control-label col-md-2">Private profile, tick for yes.</label>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsPrivate)
                @Html.ValidationMessageFor(model => model.IsPrivate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.IsPrivate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="Private profile">
                <option value="IsPrivate" name="True">-- Private profile --</option>
                <option value="IsPrivate" name="False">-- Open profile --</option>
            </select>

            @Html.ValidationMessageFor(model => model.IsPrivate, "IsPrivate", new { @class = "text-danger" })
        </div>
    </div>*@
    
    
    <div class= "form-group">
    @Html.LabelFor(model => model.Projects, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class= "col-md-10">
  
        <select name = "ProjectId">
   
            <option value = ""> -- Inget Projekt -- </option> 
            @foreach(var project in Model.Projects) {
                <option value = "@project.ProjectId"> @project.Name </option>

            }
        </select>
        

    @Html.ValidationMessageFor(model => model.Projects, "", new { @class = "text-danger" })
</div>
</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
