@model IEnumerable<Data.Models.Profile>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-sm-12">

    <p>
        @using (@Html.BeginForm("List", "Profile", FormMethod.Get))
        {
            <b>Search by name:</b>
          
            <div>
                @Html.TextBox("search")
                <input class="btn btn-default" type="submit" value="search" />
            </div>


        }
    </p>
</div>
<div class="col-sm-12">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicExperiences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkExperiences)
            </th>
            <th></th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">There was no match for your search criteria.</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.AcademicExperiences)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Skills)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkExperiences)
                    </td>
                    <td>
                        
                        @Html.ActionLink("View Profile", "Details", new { id = item.UserId.Replace('.', '-') }) |
                    </td>
                </tr>
            }
        }

        </table>
</div>