@model IEnumerable<Data.Models.Profile>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Build a resume</h1>
    <p class="lead">Impress your future employer with an online CV.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>CVs</h2>
        <p>
            Here goes a list of registered CVs
        </p>
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th></th>
            </tr>

            @if (Model.Count() == 0 )
            {
                <tr>
                    <td colspan="2">There are no CV's</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>

                        <td>

                            @Html.ActionLink("View profile", "Details", "Profile", new { id = item.UserId.Replace('.', '-') }, null) |
                        </td>
                    </tr>
                }
            }

        </table>
    </div>

    <div class="col-md-6">
        <h2>Latest project</h2>
        <p>Here goes the recently updated project:</p>
        <p> @ViewBag.Projectnamn</p>

        @if (ViewBag.creator != null)
        {
            <p> Project was created by:  @ViewBag.creator </p>
        }
        <p><a class="btn btn-default" href="~/Projects">See all projects &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <h2>Search for profile</h2>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>*@
</div>